.DetailUsser {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    width: 100%;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    &.open {
      opacity: 1;
      visibility: visible;
    }

    &.close {
      opacity: 0;
      visibility: hidden;
    }

    .modal {
      display: flex;
      position: relative;
      background: white;
      flex-direction: column;
      border-radius: 16px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      max-width: 100%;
      width: 800px;
      transition: transform 0.3s ease;
      top: 150px;
      height: 500px;

      &.open {
        transform: translateY(-100px);
      }

      &.close {
        transform: translateY(100px);
      }

      h1 {
        font-size: 18px;
        color: #1cb4a2;
        padding: 10px 20px;
        font-size: 30px;
        border-bottom: 1px solid #12756a;
      }
      .form-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        .infor-project {
          flex: 1;
          font-size: 14px;
          font-weight: 700;
          margin-left: 20px;
          margin-bottom: 5px;
          margin-right: 5px;
          max-width: 200px;
          .project-logo {
            max-width: 200px;
            max-height: 200px;
            img {
              max-width: 200px;
              max-height: 200px;
            }
          }
          .item {
            color: #12756a;
            span {
              color: #000000;
              font-weight: 400;
            }
          }
        }

        .form-input-pending {
          display: flex;
          flex: 1;
          flex-direction: column;
          height: auto;
          margin-right: 20px;
          justify-content: space-around;
          max-height: none;
          .input-colum {
            display: flex;
            justify-content: flex-start;
            gap: 200px;
            margin-left: 50px;
            .input-short {
              .item-input {
                padding-bottom: 10px;
                h2 {
                  display: flex;
                  justify-content: start;
                  align-items: center;
                  font-size: 14px;
                  font-weight: 700;
                  margin: 2px;
                  color: #12756a;
                }

                .input-container {
                  height: 32px;
                  width: 195px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  img {
                    width: 0px;
                  }
                  .search-icon {
                    display: none;
                  }
                }
                .input-dropdown {
                  width: 195px;
                  position: relative;
                  .container-dropfield {
                    .input-show {
                      height: 32px;
                      width: 195px;
                    }
                  }
                }
              }
            }
            .input-long {
              max-width: 80px;
              .item-input {
                padding-bottom: 10px;
                h2 {
                  display: flex;
                  justify-content: start;
                  align-items: center;
                  font-size: 14px;
                  font-weight: 400;
                  margin: 2px;
                  font-weight: 700;
                  color: #12756a;
                }
                span {
                  display: block;
                  width: 200px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
                .input-container {
                  height: 32px;
                  width: 378px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;

                  img {
                    width: 0px;
                  }
                  .search-icon {
                    display: none;
                  }
                }
                .input-dropdown {
                  width: 378px;
                  position: relative;
                  .container-dropfield {
                    .input-show {
                      height: 32px;
                      width: 195px;
                    }
                  }
                }
              }
            }
          }

          .item-input-description {
            display: flex;
            justify-content: flex-start;

            .description {
              margin-left: 50px;
              max-width: 92px;
              h2 {
                display: flex;
                justify-content: start;
                align-items: center;
                font-size: 14px;
                font-weight: 400;
                margin: 2px;

                font-weight: 700;
                color: #12756a;
              }
              .input-container {
                height: 134px;
                width: 622px;
                img {
                  width: 0px;
                }
                .search-icon {
                  display: none;
                }
                textarea {
                  height: 124px;
                  width: 622px;
                  border: none;
                  &:focus {
                    border: none; // Đảm bảo không bị viền bên trong
                    outline: none;
                  }
                }
              }
            }
          }
        }
      }
    }

    .form-btn {
      display: flex;
      justify-content: right;
      align-items: center;
      gap: 8px;
      padding: 20px;
      margin: 0px;
      border-top: 1px solid #12756a;
      .btn-exit {
        width: 100px;
        background-color: #ffffff;
        border: 1px solid #1cb4a2;
        &:hover {
          background-color: #ccc;
        }
        .label {
          color: #1cb4a2;
        }
        &:disabled {
          background: #71bab2;
          .label {
            color: #ffffff;
          }
          cursor: not-allowed;
        }
      }

      .btn-delete {
        width: 100px;
        background-color: #1cb4a2;
        &:hover {
          background-color: #12756a;
        }
        &:disabled {
          background: #71bab2;
          .label {
            color: #ffffff;
          }
          cursor: not-allowed;
        }
      }
      .btn-ok {
        width: 70px;
        background-color: #1cb4a2;
        &:hover {
          background-color: #12756a;
        }
        &:disabled {
          background: #71bab2;
          .label {
            color: #ffffff;
          }
          cursor: not-allowed;
        }
      }
    }
  }
}
